/*Global Styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: $header1;
}

li,
button,
input,
label,
p,
a {
    font-size: $text;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;

}

h4,
h5 {
    font-size: $header4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $gray-text;
}