/*Global Styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: var(--header1);
}

li,
button,
input,
label,
p,
a {
    font-size: var(--text);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);

}

h4,
h5 {
    font-size: var(--header4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}